apiVersion: v1
kind: PersistentVolume
metadata:
  name: truenas-media-pv
  labels:
    app.kubernetes.io/managed-by: ngarvey-homelab
spec:
  capacity:
    storage: 1000Gi
  accessModes:
    - ReadOnlyMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=1000
    - gid=1000
    - noperm
    - mfsymlinks
    - cache=strict
    - noserverino
  csi:
    driver: smb.csi.k8s.io
    readOnly: true
    volumeHandle: truenas-media-volume
    volumeAttributes:
      source: "//truenas.home.arpa/media"
    nodeStageSecretRef:
      name: truenas-smb-secret
      namespace: plex
