apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: prometheus
  labels:
    app.kubernetes.io/managed-by: ngarvey-homelab
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: prometheus
    prometheus: prometheus
  ports:
    - name: web
      protocol: TCP
      port: 9090
      targetPort: 9090

