apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: n8n
  labels:
    app.kubernetes.io/managed-by: ngarvey-homelab
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
        app.kubernetes.io/managed-by: ngarvey-homelab
    spec:
      initContainers:
        - name: fix-permissions
          image: busybox
          command: ["sh", "-c", "chown -R 1000:1000 /home/node/.n8n"]
          volumeMounts:
            - name: n8n-data
              mountPath: /home/node/.n8n
      containers:
        - name: n8n
          image: n8nio/n8n
          env:
            - name: N8N_DIAGNOSTICS_ENABLED
              value: "false"
            - name: N8N_RUNNERS_ENABLED
              value: "true"
            - name: N8N_PORT
              value: "5678"
            - name: N8N_LOG_LEVEL
              value: "debug"
            - name: NODE_EXTRA_CA_CERTS
              value: "/usr/local/share/ca-certificates/garvey-ca.pem"
          ports:
            - containerPort: 5678
          volumeMounts:
            - name: n8n-data
              mountPath: /home/node/.n8n
            - name: custom-ca
              mountPath: /usr/local/share/ca-certificates
              readOnly: true
      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-data
        - name: custom-ca
          configMap:
            name: n8n-custom-ca
