apiVersion: longhorn.io/v1beta2
kind: Setting
metadata:
  name: node-down-pod-deletion-policy
  namespace: longhorn-system
  labels:
    app.kubernetes.io/managed-by: ngarvey-homelab
value: delete-both-statefulset-and-deployment-pod
