apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prometheus
  namespace: prometheus
  labels:
    app.kubernetes.io/managed-by: ngarvey-homelab
spec:
  namespaceSelector:
    matchNames:
      - prometheus
  selector:
    matchLabels:
      operated-prometheus: "true"
  endpoints:
    - port: web
      interval: 30s

