apiVersion: v1
kind: ConfigMap
metadata:
  name: zot-config
  namespace: zot
  labels:
    app.kubernetes.io/managed-by: ngarvey-homelab
data:
  config.json: |
    {
      "distSpecVersion": "1.1.0",
      "storage": {
        "rootDirectory": "/var/lib/zot",
        "gc": true,
        "gcDelay": "1h",
        "gcInterval": "24h"
      },
      "http": {
        "address": "0.0.0.0",
        "port": "5000"
      },
      "log": {
        "level": "info"
      },
      "extensions": {
        "ui": {
          "enable": true
        },
        "search": {
          "enable": true,
          "cve": {
            "updateInterval": "24h"
          }
        },
        "scrub": {
          "enable": true,
          "interval": "24h"
        }
      }
    }
